{
    "chmod": "0755",
    "directories": [
        "bin",
        "config",
        "src"
    ],
    "files": [
        "LICENSE",
        "constants.php"
    ],
    "finder": [
        {
            "name": "*.{php,json}",
            "exclude": ["Tests", "tests"],
            "in": "vendor"
        }
    ],
    "git-version": "package_version",
    "main": "bin/beach",
    "output": "beach.phar",
    "stub": true
}
